/* popup Failed */

#popup-Failed , #popup-Failed-addCode, #popup-Failed-ChangesPass, #popup-logout {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
    animation-fill-mode: forwards;
    background: rgba(0, 0, 0, 0.25);
}

.img-Failed {
    max-width: 230px;
    height: auto;
}

.detail-Failed {
    background: #FFFFFF;
    border-radius: 20px;
    width: 480px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.image-Failed {
    display: flex;
    justify-content: center;
}

.desc-Failed {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /* line-height: 22px; */
    color: #797979;
    text-align: center;
}

.btn-Failed {
    background: #ffb0b0;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /* line-height: 22px; */
    color: #ff0e0e;
    width: 100%;
    padding: 14px 0;
    cursor: pointer;
}

.btn-Failed2 {
    background: #ffb0b0;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /* line-height: 22px; */
    color: #ff0e0e;
    width: 100%;
    padding: 14px 0;
    cursor: pointer;
}

.btn-Failed:hover, .btn-Failed2:hover {
    background: #ee3a3a;
    color: var(--color-primer);
    transition: 0.25s ease-in-out;
}

/* end popup Failed */